body {
  font-family: arial, Helvetica, sans-serif;
}

h1 {
  color: #d37641;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.btn {
  background-color: #d37641;
  border: 1px solid #c9703c;
}

.btn:hover {
  background-color: #e1844e;
  border: 1px solid #c46e3c;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  color: #a4a5a5;
}

.weather-app {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #667d97;
  border-radius: 5px;
background: -webkit-linear-gradient(24deg, rgba(251,255,255,1) 0%, rgba(230,238,237,1) 49%, rgba(226,230,240,1) 100%);
  box-shadow: 10px 5px 5px #ededed;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #242321;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: #1c2421;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
  color: #0cb482;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
